@font-face {
  font-family: tombstone;
  src: url("press-start.k.ttf");
}

body {
	margin: 0;
	padding: 0;
	background: black;
}

.tombstone {
	position: absolute;	
}

.tombstone img {
	position: absolute;
	top: 0;
	left: 0;
}

.epitaph {	
	font-family: tombstone;
	position: absolute;
	text-align: center;
	color: black;
	left: 25%;
	right: 25%;
}