<div class="tombstone" style="left: {{x}}px; top: {{y}}px;">
	<img src="tombstone.png" style="width: {{width}}px;">
	<div class="epitaph" style="
		font-size: {{font}}px; 
		width: {{text_width}}px;		
		left: {{text_x}}px;
		top: {{text_y}}px;
	">
		<p class="name">Here lies {{name}}</p>
		<p class="cause">{{cause}}</p>
	</div>
</div>