@font-face {
  font-family: tombstone;
  src: url("press-start.k.ttf");
}

body {
	margin: 0;
	padding: 0;
	background: black;
}

.tombstone {
	position: absolute;	
}

.tombstone img {
	position: absolute;
	top: 0;
	left: 0;
}

.epitaph {	
	font-family: tombstone;
	position: absolute;
	text-align: center;
	color: black;
	left: 25%;
	right: 25%;
}

.music-button {
	font-family: tombstone;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	width: 11em;
	color: black;
	background: rgb(179, 179, 179);
	border: 5px rgb(38, 38, 38) solid;
	padding: 5px;
}

footer {
	position: fixed;
	text-align: right;
	background: rgba(255, 255, 255, 0.75);
	bottom: 2px;
	right: 5px;
	padding: 3px;
	font-family: tombstone;
	font-size: 8;
	color: rgb(0, 0, 0);
}
footer a, 
footer a:visited, 
footer a:hover {
	color: rgb(0, 64, 0);
}